@model IEnumerable<Entry>

@{
    ViewData["Title"] = "Index";

    // Find the latest date of donation
    var latestDonation = Model.OrderByDescending(e => e.DateOfDonation).FirstOrDefault();

    DateTime latestDonationDate;
    DateTime? dateAfterEightWeeks = null;

    // Try to parse the date string to a DateTime object
    if (latestDonation != null && DateTime.TryParse(latestDonation.DateOfDonation, out latestDonationDate))
    {
        // Add 8 weeks to the date
        dateAfterEightWeeks = latestDonationDate.AddDays(56); // 8 weeks * 7 days
    }

    var totalBloodAmount = Model.Sum(e => e.BloodAmount);
    var status = "Not a Donor";

    if (totalBloodAmount > 0)
    {
        status = "HDK";
    }
    if (totalBloodAmount > 6000){
        status = "ZHDK III st.";
    }
    if (totalBloodAmount > 6000)
    {
        status = "ZHDK II st.";

    }
    if (totalBloodAmount > 6000)
    {
        status = "ZHDK I st.";
    }
}

<h1>You will be able to donate on @dateAfterEightWeeks?.ToString("yyyy-MM-dd")</h1>
<h2>Total blood donated: @(Model?.Sum(e => e.BloodAmount) ?? 0), your status is: @(status)</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateOfDonation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BloodAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfDonation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BloodAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
